.li {
  border-bottom: 1px solid;
  padding: 10px 0;
  list-style: none;
}
.li img {
  margin-right: 10px;
}
.published {
  color: rgba(119, 118, 118, 0.63);
}
.name {
  font-weight: 700;
}
.head {
  margin-bottom: 10px;
}
